<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Default NuGet.org feed -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Custom Azure DevOps feed -->
    <add key="AzureDevOps" value="https://pkgs.dev.azure.com/tgbots/Telegram.Bot/_packaging/release/nuget/v3/index.json" />
  </packageSources>
</configuration>
